<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>

    <link rel="stylesheet" href="css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="red" content="#5a1720">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/angular-material.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <style>
        body{ 
          background-size: cover;
          background-repeat: no-repeat;
          background-color: #fafafa;
          background-attachment:scroll; 
          align-content: center;
        }
      </style>
  
    </head>
      <body id="body" ng-app="NewApp" ng-cloak ng-controller="AppCtrl">
        <!--
          Your HTML content here
        -->  
        
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-messages.min.js"></script>
      
        <!-- Angular Material Library -->
        <script src="js/angular-material.min.js"></script>
        
        <md-content id="content" style="background-color: transparent;">
            <md-toolbar class="md-whiteframe-2dp" id="toolbar" style="position: fixed; top:0%; background-color: #F5F5F5;color:#304FFE">
                <div class="md-toolbar-tools" >
                    <md-button class="md-icon-button"  ng-click="toggleLeft()"    >
                        <md-icon>
                          <i class="material-icons" style="color: #304FFE">menu</i>
                        </md-icon>
                    </md-button>
              
                    <div flex md-truncate >
                        <img src="./src/ic_logo_new.png" style="width: 120px;height:45px;"> 
                      </div>
              
                      <md-button href="./store.html"  hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #F5F5F5; " onclick=" ">Store</md-button>
                      <md-button href="./about.html"  hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #F5F5F5; " onclick=" ">About</md-button>
                      <md-button href="./terms-conditions.html"  hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #F5F5F5; " onclick=" ">Terms & Condition</md-button>
                      <md-button href="./privacy-policy.html"  hide-xs hide-sm class="" id="btn_logout_home" style="background-color: #F5F5F5; " onclick=" ">Privacy Policy</md-button>
                </div>
            </md-toolbar>
      
            <div ng-controller="AppCtrl" layout="column"  ng-cloak style="background-color: #536DFE;">
       
              
                  
              <md-sidenav class="md-sidenav-left" md-component-id="left"
                              md-disable-backdrop="" md-whiteframe="8" style="background-color: #304FFE">
               
              
                    <md-content layout-margin=""  style="background-color: #304FFE">
                            <md-list ng-controller="ListCtrl" ng-cloak> 
                                <md-list-item class="md-2-line" ng-repeat="item in todos" ng-click="null" href="{{ item.href }}">
                                        <img style="filter: grayscale(100%);" id="md-avatar" ng-src="{{item.face}}"   alt="{{item.who}}" />
    
                                        <div class="md-list-item-text" layout="column">
                                          <h3 id="list_title">{{ item.title }}</h3>
                                          <h4 id="list-subhead">{{ item.description }}</h4>
                                        </div>
                                      </md-list-item>
                            </md-list>
                      <div layout-align="end end" layout="column" >
                        <md-button class="md-fab md-mini md-primary" ng-click="toggleLeft()" style="background-color: #FAFAFA">
                            <md-icon>
                              <i class="material-icons"  style="color: #304FFE">chevron_left</i>
                            </md-icon>
                        </md-button>
                      </div>
                      
                    </md-content>
              
                  </md-sidenav>
              
                  <md-content layout="column" layout-align="center center" style="background-color: transparent; margin-top: 56px;margin-left:10%;margin-right:10%;">
               
                     
                    <div layout-align-lg="center center" layout-align-xs="center center" layout-lg="row" layout-xs="column"  style="margin-top: 100px;margin-bottom: 100px">

                      <div layout="column" class="md-padding" >
                          <h1 id="headline" class="md-display-3" style="text-align: center ;color: #FAFAFA">About Us</h1>
                          <md-card class="md-whiteframe-8dp" style="padding: 70px;">
                            <h3 id="subhead" class="md-subhead" style="text-align: center;margin:20px; color:black">
                              VCS Lumber and Pallets is a Sole Prenuership type of business. It was owned by Mr. Benjamin Saputil,<br>he starts his business in 1991 and until now its owned by him.<br>There are many types of Lumber and Pallets there examples are:<br>Mahogany tree , Mango tree, Acacia tree and Etc.
                              Every size has its own prices.<br>
                              We assure you that we have good quality products and strong wood crafts
                          </h3>
                          <md-button class="md-flat" href="contact-us.html" style="margin-top:30px;width: 200px; margin-left:0px;align-self: center;background-color: #8C9EFF">Contact Us</md-button>
                          </md-card>
                          
                        </div> 
                  </div>

                  <div layout-align-lg="center center" layout-align-xs="center center" layout-lg="column" layout-xs="column"  style="margin-top: 50px;margin-bottom: 100px">

                    <h1 id="headline" class="md-display-3" style="text-align: center ;color: #FAFAFA">Powered by</h1>
                    <div layout-xs="column" layout-sm="column" layout-lg="row">
                        
                        <div layout-x="column" layout-sm="column" layout-lg="row" class="md-padding">
                          <div layout="column" layout-align="center center" style="color: #fff">
                            <img src="https://firebasestorage.googleapis.com/v0/b/anti-sexual-harassment.appspot.com/o/angular.png?alt=media&token=52a6e789-a746-45be-aff4-813736113e15" style="height: 80px; width: 80px">
                            <h3 class="md-title">AngularJS</h3>
                            <h3 class="md-subhead" style="margin-top: -10px; text-align: center">Used as the Web Framework for User Interface<br>and User Experience</h3>
                          </div>
                          
                        </div> 

                        <div layout-x="column" layout-sm="column" layout-lg="row"  class="md-padding">
                            <div layout="column" layout-align="center center" style="color: #fff">
                              <img src="https://firebasestorage.googleapis.com/v0/b/anti-sexual-harassment.appspot.com/o/firebase.png?alt=media&token=5cd1e9d3-f146-46d7-811b-35e573189a7c" style="height: 80px; width: 80px">
                              <h3 class="md-title">Firebase</h3>
                              <h3 class="md-subhead" style="margin-top: -10px; text-align: center">Used for Storage, Authentication, Database<br>& Hosting</h3>
                            </div>
                            
                          </div> 
                      </div> 
                      
                </div>
                  </md-content> 

              </div>
              
              <div style=" background-color: #304FFE; margin-bottom: 0% " layout-align="center center" layout-xs="column" layoput-sm="column" layout-lg="row"> 

                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column">
                  <md-button href="./store.html" style="width: 200px; text-align: left;text-indent: 20px">Store</md-button> 
                  <md-button href="./index.html" style="width: 200px; text-align: left;text-indent: 20px">Home</md-button> 
                </div>
                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column"> 
                  <md-button href="./about.html" style="width: 200px; text-align: left;text-indent: 20px">About</md-button>
                  <md-button href="./terms-conditions.html" style="width: 200px; text-align: left;text-indent: 20px">Terms & Condition</md-button>  
                </div>
                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column"> 
                  <md-button href="./privacy-policy.html" style="width: 200px; text-align: left;text-indent: 20px">Privacy Policy</md-button> 
                  <md-button href="./login.html" style="width: 200px; text-align: left;text-indent: 20px">Account</md-button> 
                </div>
                <div style="padding: 20px; color: #fff" layout-xs="row" layoput-sm="row" layout-lg="column">  
                  <md-button href="./locations.html" style="width: 200px; text-align: left;text-indent: 20px">Office Location</md-button>
                  <md-button href="./contact-us.html" style="width: 200px; text-align: left;text-indent: 20px">Contact Us</md-button>
                </div>
            </div> 
      </md-content> 
      <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>

      <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>

      <script src="js/init-firebase.js"></script>
      <script src="js/index.js"></script>       
  </body>
  

</html>
